@charset "UTF-8";
h2 {
    padding-top: 3rem;
  }
  
  p {
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
  }
  
  .fade {
    opacity: 0;
  }

  .color {
    background-color: orange;
  }

  .line {
    background-color: #ff9028;
    width: 0;
  }

  .slide-in {
  opacity: 0;
  }